<div class="createpaper">
	<%= form_tag do %>
	    <label for="name">Test paper name</label>
	    <%= text_field_tag :name, '', :class => 'papername' %>
	    <label for="description">Description</label>
	    <%= text_field_tag :description, '', :class => 'description' %>
	    <%= submit_tag "Create Paper", :class => 'createbutton' %>
	<% end %>
</div>
