<div class="">
  <h1>Welcome</h1>
  <div class="add_paper">&nbsp;</div>
  <div class="login_user">
    <span><%= session[:user].name %></span>
    <a class="logout" href="/">Logout</a>
  </div>
</div>