<div class="body">
  <ul class="papers">
    <% @papers.each do |paper| %>
        <li>
        	<div class="name"><%= link_to paper.name, :controller => "paper", :action => "show", :name => paper.name %><div>
        	<div class="description"><%= paper.description %></div>
        </li>
    <% end %>
  </ul>
</div>