/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
    margin: 0 auto 0;
    height: 100%;
    min-width: 960px;
}

.header {
    background: -moz-linear-gradient(top, #65C9EA, #5BBECD);
    background: -webkit-gradient(linear, left top, left bottom, from(#65C9EA), to(#5BBECD));
    font: 16px Helvetica,arial,freesans,clean,sans-serif;
}

.header .container {
    width: 960px;
    margin: 0 auto 0;
    position: relative;
    line-height: 40px;
}

.brand {
    font-family: Monaco;
    font-size: 20px;
}

.context {
    float: right;
}

.user, .menu {
    display: inline-block;
}

.menu li {
    list-style: none;
}

